body
  font-family: 'Dancing Script', cursive
  background-color: #061998
  box-sizing: content-box
  
.header
  font-size: 180px
  text-align: center
  color: #ca930f
  height: 200px

#PlayerCards, #dealerCards
  background-color: #5d5d6b
  opacity: 70%
  border: 5px inset #aedd15
  border-radius: 8px
  margin-left: 20px
  text-align: center

.buttons
  margin-top: 100px
  text-align: center

.footer
  text-align: center
  padding-top: 60px
  position: center